<article>
  <h1 class="title">
    {{#if isSingleBlogEntry}}
      {{blog.title}}
    {{else}}
      {{#link-to "blogs.blog" blog}}{{blog.title}}{{/link-to}}
    {{/if}}
  </h1>
  <aside class="details">{{moment-calendar blog.dateCreated}} by {{blog.author}}</aside>
  <p class="entry">{{safe-string blog.entry}}</p>
</article>
