<thead>
  <tr>
    {{#each headers as |header|}}
      <th class="header">{{header}}</th>
    {{/each}}

    {{#if delete}}
      <th class="header">delete</th>
    {{/if}}
  </tr>
</thead>
<tbody>
  {{#each items as |item|}}
    <tr>
      {{#each props as |prop|}}
        <td class="cell">{{property-value item prop}}</td>
      {{/each}}
      
      {{#if delete}}
        <td class="cell delete" {{action "delete" item}}>&times;</td>
      {{/if}}
    </tr>
  {{/each}}
</tbody>
