@import 'reset.less';
@import 'globals.less';
@import 'mixins.less';

// Components
@import 'components/modal-cover.less';
@import 'components/flash-card.less';
@import 'components/blog-entry.less';
@import 'components/table-data.less';
@import 'components/general-button.less';
@import 'components/arrow-button.less';

// Templates
@import 'templates/notice.less';
@import 'templates/header.less';
@import 'templates/menu.less';
@import 'templates/kanji.less';
@import 'templates/footer.less';
@import 'templates/loading.less';
@import 'templates/admin.less';
@import 'templates/blogs/index.less';
@import 'templates/blogs/blog.less';
@import 'templates/login/index.less';
@import 'templates/login/create.less';
@import 'templates/admin/blog.less';
@import 'templates/admin/user.less';

html, body {
  min-height: 100%;
}

html {
  background-color: @light-color;
  position: relative;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: @dark-color;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 0 500px 0;

  @media screen and (max-width: @mobile-breakpoint) {
    margin: 0 0 100px 0;
  }
}

.outer-wrapper {
  max-width: 1200px;
  margin: auto;
}

.inner-wrapper {
  padding: 0 5%;
  height: 100%;

  @media screen and (max-width: @mobile-breakpoint) {
    padding: 0 3%;
  }
}

.content {
  position: relative;
  margin-bottom: 150px;
  flex: 1 0 auto;
}

.template-menu {
  text-align: center;
  margin-bottom: 30px;

  @media screen and (max-width: @mobile-breakpoint) {
    margin-bottom: 15px;
  }

  .link {
    list-style: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    cursor: pointer;
    padding: 10px;

    @media screen and (max-width: @mobile-breakpoint) {
      font-size: 1.2rem;
    }

    & + .link {
      margin-left: 1%;
    }
  }
}

button {
  border: 0;
  background-color: fade(@contrast-color, 80%);
  color: @light-color;
  padding: 12px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: @input-border-radius;

  &:hover {
    background-color: @contrast-color;
  }
}

input[type="text"],
input[type="password"],
textarea {
  border: solid 1px @dark-color;
  border-radius: @input-border-radius;
  width: 100%;
  box-sizing: border-box;

  &.is-invalid {
    border: 1px solid @contrast-color;
    box-shadow: 0 0 2px @contrast-color;
  }
}

input[type="text"],
input[type="password"] {
  padding: 5px 8px;
  height: 40px;
  font-size: 1.5em;
}

textarea {
  line-height: 1.5;
  font-size: 1em;
  padding: 10px;
}

a {
  color: #212121;
	text-decoration: none;
  transition: color 0.2s;

  &:hover {
    color: @contrast-color;
  }

  &.active {
    color: @contrast-color;
  }
}

@checkbox-size: 18px;

.checkbox {
  width: @checkbox-size;
  height: @checkbox-size;
  display: inline-block;
  border: 2px solid @dark-color;
  cursor: pointer;
  border-radius: @input-border-radius;

  &.is-active {
    background-color: @contrast-color;
  }
}

.form-row {
  display: block;
  margin-bottom: 18px;
}

.error {
  color: @contrast-color;
}

@donation-banner-border: 1px dotted fade(@contrast-color, 10%);
.donation-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  padding: 25px;
  margin: 0 auto 50px;
  border-top: @donation-banner-border;
  border-bottom: @donation-banner-border;
  border-radius: 25px;

  @media screen and (max-width: @mobile-breakpoint) {
    width: 90%;
    margin: 0 auto 30px;
    border-radius: 0;
  }

  p {
    font-style: italic;
    letter-spacing: 0.5px;
    margin-bottom: 15px;

    &::before {
      content: 'Kanji Flash was created by and continues to be maintained by volunteers. Please consider donating any amount to keep Kanji Flash running for everyone.';

      @media screen and (max-width: @mobile-breakpoint) {
        content: 'Please consider a donation to keep Kanji Flash running.';
      }
    }
  }
}
