// Site theme colors
@contrast-color: #DF1212; //red
@light-color: #FDF9F0; //white
@dark-color: #212121; //grey
@background-color: #add8e6; //blue
@mobile-breakpoint: 768px;
@mobile-breakpoint-vertical: 600px;
@mobile-breakpoint-vertical-small: 400px;
@mobile-breakpoint-vertical-tiny: 300px;
@input-border-radius: 5px;
//@table-breakpoint: 780px;
