<section class="admin-blog-template">
  <div class="row">
    {{#general-button action="createBlog"}}
      Create
    {{/general-button}}
  </div>

  {{table-data headers=headers props=propsToDisplay items=model delete=true action="deleteBlog"}}
</section>
