<section class="admin-blog-template">
  <label>Title</label> 
  <div class="form-row">{{input value=title class=isInvalid}}</div>
  
  <label>Entry</label> 
  <div class="form-row">{{textarea value=entry class=isInvalid}}</div>

  {{#general-button action="createBlog" class="form-row"}}Save{{/general-button}}
</section>
