<section class="notice">
  <h1 class="japanese">準備中です！</h1>
  <p class="english">This feature isn't quite ready yet...</p>
  <p class="explanation">
    We're working on giving our users the ability to create accounts so they can better track the way they study kanji. Please check back later for this feature!
  </p>

  <!-- <form {{action "createUser" on="submit"}}>
    <div class="form-row">
      <label for="email">Email</label>
      {{input id="email" value=email}}
    </div>

    <div class="form-row">
      <label for="password">Password</label>
      {{input id="password" type="password" value=password}}
    </div>

    <div class="form-row">
      <div id="newsletter-checkbox" class="checkbox {{if receiveNewsletter "is-active"}}" {{action "toggleNewsletter"}}></div>
      <label id="newsletter-label" for="newsletter" {{action "toggleNewsletter"}}>Receive Newsletter</label>
    </div> 

    <div class="form-row">
      <button type="submit" class="general-button-component">Create</button>
    </div>
  </form>
  
  {{#if errorMessage}}
    <aside class="error">{{errorMessage}}</aside>
  {{/if}}-->
</section>
