<section class="login-index-template">
  <form {{action "authenticate" on="submit"}}>
    <div class="form-row">
      <label for="identification">Email</label>
      {{input id="email" value=email}}
    </div>

    <div class="form-row">
      <label for="password">Password</label>
      {{input id="password" type="password" value=password}}
    </div>

    <div class="form-row">
      <button type="submit" class="general-button-component">Login</button>
    </div>
  </form>

  {{#link-to "login.create" class="create-login"}}Don't have a login? Click here to create one!{{/link-to}}

  {{#if errorMessage}}
    <aside class="error">{{errorMessage}}</aside>
  {{/if}}
</section>
