{{#modal-cover action="modalClicked"}}
  {{#flash-card front=front action="flip" last="last" next="next"}}
    {{#if front}}
      <div class="writing">{{model.writing}}</div>
    {{else}}
      <div class="meanings">{{meanings}}</div>
      
      {{#if model.japaneseOnReadings.length}}
        <div class="onyomis">
          <span class="label">onyomi:</span>
          <span class="list">{{onyomis}}</span>
        </div>
      {{/if}}
      
      {{#if model.japaneseKunReadings.length}}
        <div class="kunyomis">
          <span class="label">kunyomi:</span>
          <span class="list">{{kunyomis}}</span>
        </div>
      {{/if}}
    {{/if}}
  {{/flash-card}}

  {{#unless isSingleKanji}}
    {{arrow-button class="last" isDisabled=isFirstKanji action="last"}}
    {{arrow-button class="next" isDisabled=isLastKanji action="next"}}
  {{/unless}}
  
  <aside class="close {{if isSingleKanji "full-width"}}"></aside>
{{/modal-cover}}
