<div class="explanatory-text">
  Click on the title of any set to create a direct link
</div>

{{#each model as |kanji index| ~}}
  {{set-divider index setCount}}
  {{#link-to "kanji.flashcard" kanji (query-params front=true) class="kanji"}}{{kanji.writing}}{{/link-to}}
{{~/each}}

