.footer-template {
	height: 500px;
  background-color: fade(@contrast-color, 80%);
  display: flex;
  padding-top: 50px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

  @media screen and (max-width: @mobile-breakpoint) {
    flex-direction: column;
    height: 200px;
    padding-top: 0;
  }

  .left,
  .center,
  .right {
    flex: 1;
    display: flex;
    justify-content: center;

    @media screen and (max-width: @mobile-breakpoint) {
      align-items: center;
    }
  }

	.social-media-link {
		display: inline-block;
		width: 50px;
		height: 50px;
		margin-top: -10px;

		@media screen and (max-width: @mobile-breakpoint) {
			margin-top: 0;
		}

		.social-media-icon {
			width: 100%;
			height: 100%;

			&:hover {
				fill: @light-color;
			}
	  }

		& + .social-media-link {
			margin-left: 18px;
		}
	}

  .contact {
    cursor: pointer;

    &:hover {
      color: @light-color;
    }
  }
}
