.header-template {
	height: 100px;
	border-bottom: solid 3px @dark-color;
	margin-bottom: 50px;

	@media screen and (max-width: @mobile-breakpoint) {
		margin-bottom: 30px;
	}

	.inner-wrapper {
		display: flex;

		@media screen and (max-width: @mobile-breakpoint) {
			flex-direction: column;		
		}
		
		.logo {
			width: 200px;

			@media screen and (max-width: @mobile-breakpoint) {
				width: 180px;
				padding-top: 15px;
			}
		}

		.right {
			justify-content: flex-end;
		}

		.left,
		.right {
			flex: 1;
			display: flex;
			align-items: center;

			@media screen and (max-width: @mobile-breakpoint) {
				justify-content: center;
			}
		}
	}
}