.kanji-template {
  .explanatory-text {
    text-align: center;
  }

  .set-divider {
    display: flex;
    align-items: center;
    margin: 50px auto 25px;
    border-bottom: solid 1px fade(@dark-color, 10%);
    height: 50px;

    &:first-of-type {
      margin: 25px auto 25px;
    }

    a {
      font-size: 1.1em;
      font-weight: bold;
      padding-left: 5px;
      cursor: pointer;

      span {
        display: inline-block;
        font-weight: normal;
        font-style: italic;
        margin-left: 3px;
        font-size: 0.6em;
        vertical-align: middle;
      }
    }
  }

	.kanji {
		display: inline-flex;
    cursor: pointer;
    font-size: 2.5em;
    width: 100% / 7;
    height: 100px;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: @mobile-breakpoint) {
      font-size: 2em;
      width: 100% / 4;
      height: 80px;
    }
	}
}