.loading-template {

  color: @light-color;
  text-align: center;

  .kanji-text,
  .flash-text {
    position: relative;
  }

  .kanji-text {
    font-size: 8em;

    @media screen and (max-width: @mobile-breakpoint) {
      font-size: 5em;
    }

    @media screen and (max-height: @mobile-breakpoint-vertical-tiny) {
      font-size: 3em;
    }
  }

  .flash-text {
    font-size: 5em;

    @media screen and (max-width: @mobile-breakpoint) {
      font-size: 3em;
    }

    @media screen and (max-height: @mobile-breakpoint-vertical-tiny) {
      font-size: 1em;
    }
  }

  .progress {
    height: 10px;
    width: 0;
    background-color: @contrast-color;
    animation: progress 1.4s infinite;
    margin-top: 50px;
    border-radius: 10px;

    @media screen and (max-height: @mobile-breakpoint-vertical-tiny) {
      height: 5px;
      margin-top: 25px;
    }
  }

  @keyframes progress {
    from {
      width: 0;
    }

    50% {
      width: 100%;
    }

    to {
      width: 100%;
    }
  }
}
