.menu-template {
  .menu-link {
    font-size: 1.3rem;
    cursor: pointer;

    & + .menu-link {
      margin-left: 8px;
    }
  }

  .logout {
    background-color: @light-color;
    border: 0;
    transition: color 0.2s;
    padding: 0;
    color: @dark-color;

    &:hover {
      color: @contrast-color;
    }
  }
}