.notice {
  .japanese {
    font-size: 2.8em;

    @media screen and (max-width: @mobile-breakpoint) {
      font-size: 2em;
      text-align: center;
    }
  }

  .english {
    font-size: 2em;

    @media screen and (max-width: @mobile-breakpoint) {
      text-align: center;
      font-size: 1.5em;
    }
  }

  .japanese,
  .english {
    text-align: center;
    margin-bottom: 30px;
  }

  .explanation {
    a {
      color: @dark-color;
      border-bottom: 1px dotted @contrast-color;

      &:hover {
        color: @contrast-color;
      }
    }
  }
}
