@arrow-size: 30px;
@arrow-border: solid 3px @light-color;
@arrow-radius: 10px;

.arrow-button-component {
  height: 130px;
  width: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: @dark-color;
  cursor: pointer;

  @media 
    screen and (max-width: @mobile-breakpoint),
    screen and (max-height: @mobile-breakpoint-vertical) {
      height: 20%;
      width: 40%;
      top: initial;
      background-color: @dark-color;
    }

  .arrow {
    height: @arrow-size;
    width: @arrow-size;
    transform: rotate(45deg);
    cursor: pointer;
    transition: all 0.5s;

    &.is-disabled {
      opacity: 0.2;
    }

    @media screen and (max-height: @mobile-breakpoint-vertical-tiny) {
      height: 15px;
      width: 15px;
    }
  }
  
  &.last {
    left: 0;
    border-bottom-right-radius: @arrow-radius;
    border-top-right-radius: @arrow-radius;

    @media 
      screen and (max-width: @mobile-breakpoint),
      screen and (max-height: @mobile-breakpoint-vertical) {
        left: initial;
        right: 40%;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-right: solid 1px @light-color;
      }

    .arrow {
      border-left: @arrow-border;
      border-bottom: @arrow-border;
      margin-left: @arrow-size / 2;
    }
  }

  &.next {
    right: 0;
    border-bottom-left-radius: @arrow-radius;
    border-top-left-radius: @arrow-radius;

    @media 
      screen and (max-width: @mobile-breakpoint),
      screen and (max-height: @mobile-breakpoint-vertical) {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-left: solid 1px @light-color;
      }

    .arrow {
      border-top: @arrow-border;
      border-right: @arrow-border;
      margin-right: @arrow-size / 2;
    }
  }
}