.blog-entry-component {
  padding: 80px 0;
  border-bottom: solid 1px fade(@dark-color, 10%);

  @media screen and (max-width: @mobile-breakpoint) {
    padding: 60px 0;
  }

  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .details {
    font-size: 0.8rem;
    font-style: italic;
    margin-bottom: 25px;
  }

  .entry {
    font-size: 0.9rem;
    line-height: 1.8;
  }
}