@card-width: 460px;

.flash-card-component {
  position: relative;
  background-color: @light-color;
  height: 600px;
  width: @card-width;
  cursor: pointer;
  animation-duration: 0.4s;
  animation-name: displaycard;
  border-radius: 10px;
  padding: 25px;
  box-sizing: border-box;

  &::before,
  &::after {
    position: absolute;
    font-style: italic;
    bottom: 25px;
  }

  &::before {
    content: 'click to flip...';
    right: 25px;
  }

  @media
    screen and (max-width: @mobile-breakpoint),
    screen and (max-height: @mobile-breakpoint-vertical) {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 80%;
      border-radius: 0;
      animation-name: none;

      &::before {
        content: 'tap to flip...';
      }
    }

  @keyframes displaycard {
    from {
      box-shadow: none;
    }

    50% {
      transform: scale(1.010);
      box-shadow: 0px 0px 10px @light-color;
    }
  }

  @keyframes flip {
    from {
      width: 0;
    }

    to {
      width: @card-width;
    }
  }

  @keyframes showback {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  &.back {
    animation-duration: 0.2s;
    animation-name: flip;

    @media
      screen and (max-width: @mobile-breakpoint),
      screen and (max-height: @mobile-breakpoint-vertical) {
        animation-name: none;
      }
  }

  .label {
    font-style: italic;
    font-size: 0.8em;
    vertical-align: middle;
  }

  .writing {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20em;
    font-size: 20rem;

    @media
      screen and (max-width: @mobile-breakpoint),
      screen and (max-height: @mobile-breakpoint-vertical) {
        font-size: 15em;
        font-size: 15rem;
      }

    @media screen and (max-height: @mobile-breakpoint-vertical-tiny) {
      font-size: 5em;
      font-size: 5rem;
    }
  }

  .onyomis .list,
  .kunyomis .list {
    vertical-align: middle;
    word-spacing: 0.2em;
  }

  .meanings,
  .onyomis,
  .kunyomis {
    font-size: 2em;
    animation-duration: 1s;
    animation-name: showback;
    margin-bottom: 15px;

    @media
      screen and (max-width: @mobile-breakpoint),
      screen and (max-height: @mobile-breakpoint-vertical) {
        font-size: 1.25em;
        font-size: 1.25rem;
        animation-name: none;
        width: 80%;
      }
  }

  .meanings {
    font-weight: bold;
    font-size: 2.5em;

    @media
      screen and (max-width: @mobile-breakpoint),
      screen and (max-height: @mobile-breakpoint-vertical) {
        font-size: 1.65em
      }
  }
}
