@close-position: 35px;

.modal-cover-component {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000;
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: center;

	.close {
	  color: @light-color;
	  position: absolute;
	  top: @close-position;
	  right: @close-position;
	  height: 35px;
	  width: 35px;
	  border: solid 3px @light-color;
	  border-radius: 25px;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  font-size: 1.3em;
	  cursor: pointer;

	  &::before {
	  	content: '\00d7';
	  }

	  @media 
	  	screen and (max-width: @mobile-breakpoint),
	  	screen and (max-height: @mobile-breakpoint-vertical) {
		  	top: initial;
		  	right: initial;
		  	bottom: 0;
		  	left: 0;
		  	width: 20%;
		  	border: 0;
		  	border-right: solid 1px @light-color;
		  	height: 20%;
		  	background-color: @dark-color;
		  	border-radius: 0;

		  	&::before {
		  		content: 'Back';
		  		text-align: center;
		  	}

		  	&.full-width {
		  		width: 100%;
		  	}

		  	&.full-width::before {
		  		content: 'Click here for more kanji';
		  	}
		  }

	  &:hover {
	  	box-shadow: 0px 0px 5px fade(@light-color, 90%);
	  }
	}
}