.table-data-component {
  width: 100%;
  border-collapse: collapse;
  margin-top: 25px;
  table-layout: fixed;

  .header,
  .cell {
    text-align: center;
    border: 1px solid @dark-color;
    padding: 25px;

    @media screen and (max-width: @mobile-breakpoint) {
      word-wrap: break-word;
      padding: 0;
    }
  }

  .cell {
    padding: 10px;
    word-wrap: break-word;
  }

  .delete {
    width: 10%;
    font-size: 1.5rem;
    font-weight: bold;
    color: @contrast-color;
    cursor: pointer;
  }
}