.login-index-template {
  width: 350px;
  margin: auto;

  .create-login {
    margin-top: 8px;
    display: inline-block;
    border-bottom: 1px dotted @contrast-color;
  }

  .error {
    margin-top: 18px;
  }
}
