<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kanji Flash - Kanji Flashcards for JLPT and More!</title>
    <meta name="description" content="Kanji Flash is an online collection of Japanese Language Proficiency Test kanji flashcards. It is designed to help students of the Japanese language study kanji for JLPT levels N5 - N1 quickly and easily from any device with a web browser.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for "head"}}

    <link rel="stylesheet" href="{{rootURL}}assets/vendor.css">
    <link rel="stylesheet" href="{{rootURL}}assets/kanji-flash-client.css">
    <link rel="icon" type="image/png" href="{{rootURL}}favicon.ico">


    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}

    <script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/kanji-flash-client.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
