<section class="admin-kanji-template">
  <div class="row">
    {{#general-button action="insertKanji"}}Insert{{/general-button}}
    {{#general-button action="deleteKanji"}}Delete{{/general-button}}
  </div>

  {{table-data headers=headers props=headers items=model delete=false}}
</section>
