<section class="admin-user-template">
  <div class="row">
    {{#general-button action="createUser"}}
      Create
    {{/general-button}}
  </div>

  {{table-data headers=headers props=propsToDisplay items=model delete=true action="deleteUser"}}
</section>