<section class="admin-user-template">
  <div class="form-row">
    <label>First Name</label>
    {{input value=firstName class=isInvalid}}
  </div>
  <div class="form-row">
    <label>Last Name</label>
    {{input value=lastName class=isInvalid}}
  </div>
  <div class="form-row">
    <label>Email</label>
    {{input value=email class=isInvalid}}
  </div>

  {{#general-button action="createUser" class="form-row"}}Save{{/general-button}}
</section>