<section class="admin-template">
  <nav class="template-menu">
    {{#link-to "admin.blog" class="link"}}blog{{/link-to}}
    {{#link-to "admin.user.index" class="link"}}user{{/link-to}}
    {{!#link-to "admin.kanji" class="link"}}<!--kanji-->{{!/link-to}}
  </nav>

  {{outlet}}
</section>
