<div class="outer-wrapper">
  {{partial "header"}}

  {{#if showDonationBanner}}
    <section class="donation-banner">
      <!-- Text is defined in the .donation-banner CSS class -->
      <p></p>
      <div id="paypal-donation-button">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="8UZ7PKFYWJNTS">
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
      </div>
    </section>
  {{/if}}

  <main class="content">
    <div class="inner-wrapper">
      {{outlet}}
    </div>
  </main>
</div>

{{partial "footer"}}

