<section class="error-template notice">
  <h1 class="japanese">間違ってしまいました！</h1>
  <p class="english">Something unexpected happened</p>
  <p class="explanation">
    Please let us know about the problem you're experiencing at <a href="mailto:contact@kanjiflash.com">contact@kanjiflash.com</a>. In the meantime, how about getting back to {{#link-to "kanji"}}studying some kanji{{/link-to}}?
  </p>
</section>
