<footer class="footer-template">
  <section class="left">
    &copy; {{date-year}} Kanji Flash
  </section>

  <section class="center">
    <a class="social-media-link" target="_blank" href="https://www.facebook.com/kanjiflash/">
      <svg xmlns="http://www.w3.org/2000/svg" class="social-media-icon">
        <g transform="scale(0.05)">
          <path d="M182.594 0c-101.149 0 -182.594 81.445 -182.594 182.594l0 634.813c0 101.149 81.445 182.594 182.594 182.594l344.063 0l0 -390.938l-103.375 0l0 -140.75l103.375 0l0 -120.25c0 -94.475 61.079 -181.219 201.781 -181.219 56.968 0 99.094 5.469 99.094 5.469l-3.313 131.438s-42.963 -.406 -89.844 -.406c-50.739 0 -58.875 23.378 -58.875 62.188l0 102.781l152.75 0l-6.656 140.75l-146.094 0l0 390.938l141.906 0c101.149 0 182.594 -81.445 182.594 -182.594l0 -634.813c0 -101.149 -81.445 -182.594 -182.594 -182.594l-634.813 0z"/>
        </g>
      </svg>
    </a>

    <a class="social-media-link" target="_blank" href="https://twitter.com/kanjiflash">
      <svg xmlns="http://www.w3.org/2000/svg" class="social-media-icon">
        <g transform="scale(0.05)">
          <path d="M0 781.864q0 7.32 7.32 13.176 12.2 8.296 43.432 24.4 119.072 61.488 249.856 61.488 162.992 0 296.216 -83.936 63.44 -40.016 112.728 -96.38t78.324 -117.608 43.432 -122.732 13.42 -119.56v-17.08q57.096 -40.992 89.304 -93.696 2.928 -5.856 2.928 -8.784 0 -6.344 -4.88 -11.224t-11.224 -4.88q-3.416 0 -11.712 3.904 -5.856 1.952 -14.396 4.88t-14.64 5.124 -8.052 2.684q12.688 -14.152 26.352 -38.308t13.664 -35.38q0 -6.344 -4.88 -10.98t-11.712 -4.636q-3.904 0 -7.808 2.44 -55.632 29.768 -103.944 40.504 -59.048 -56.12 -141.032 -56.12 -83.936 0 -142.984 58.56t-59.048 141.52q0 14.64 1.952 23.912 -82.472 -6.832 -159.088 -39.528t-137.616 -87.84q-14.152 -13.664 -54.656 -57.096 -5.856 -5.856 -13.664 -5.856 -5.856 0 -12.2 7.808 -12.688 19.032 -20.008 46.604t-7.32 53.924q0 72.712 45.384 126.88l-14.152 -6.832q-12.2 -5.368 -18.056 -5.368 -8.296 0 -13.908 4.88t-5.612 12.688q0 51.24 26.352 97.112t71.248 73.2l-5.856 -.976q-.976 0 -2.684 -.488t-2.684 -.732 -1.464 -.244q-6.344 0 -10.98 4.88t-4.636 10.736q0 .488 .976 5.368 16.592 50.752 55.144 86.132t90.28 47.58q-84.912 52.216 -187.392 52.216 -6.832 0 -21.96 -1.464 -20.496 -.976 -22.448 -.976 -6.344 0 -10.98 4.88t-4.636 11.224z"/>
        </g>
      </svg>
    </a>
  </section>

  <section class="right">
    <a href="mailto:contact@kanjiflash.com" class="contact">contact@kanjiflash.com</a>
  </section>
</footer>
