<header class="header-template">
  <div class="inner-wrapper">
    <section class="left">
      {{#link-to "kanji.index"}}<img src="{{rootURL}}/images/logo.png" class="logo" alt="Kanji Flash logo">{{/link-to}}
    </section>

  	<section class="right">
  		{{partial "menu"}}
  	</section>
  </div>
</header>
