<section class="kanji-template">
  <nav class="template-menu">
    {{#link-to "kanji" (query-params jlpt="n5") class="link"}}N5{{/link-to}}
    {{#link-to "kanji" (query-params jlpt="n4") class="link"}}N4{{/link-to}}
    {{#link-to "kanji" (query-params jlpt="n3") class="link"}}N3{{/link-to}}
    {{#link-to "kanji" (query-params jlpt="n2") class="link"}}N2{{/link-to}}
    {{#link-to "kanji" (query-params jlpt="n1") class="link"}}N1{{/link-to}}
  </nav>

  {{outlet}}
</section>