<nav class="menu-template">
	{{#link-to "kanji" class="menu-link"}}kanji{{/link-to}}
  {{#link-to "blogs" class="menu-link"}}blog{{/link-to}}

	{{#if isAdmin}}
    {{#link-to "admin" class="menu-link"}}admin{{/link-to}}
  {{/if}}
	
	<!--
	{{#if session.currentUser}}
		<button class="menu-link logout" {{action "logout"}}>logout</button>
	{{else}}
		{{#link-to "login" class="menu-link"}}login{{/link-to}}
	{{/if}}
	-->
</nav>
